* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  text-transform: uppercase;
  letter-spacing: .5em;

  color: #fff;
  background-color: #222222;
}

@media screen and (max-width: 800px) {
  body {
    display: block;
  }

  article {
    height: 240px;
  }
}

article {
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: auto 100%;
  background-position: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

article span, a span {
  padding: 8px;
  background-color: hsla(0, 0%, 0%, .5);
}




.block--ysid {
  align-items: center;
  background-image: url(img/ysid__bg.jpg);
  background-size: 105%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.block--ysid img {
  max-width: 320px;
}



/* Signup form */
.block--email-form {
  padding: 0;
  width: 100%;
}

.block--email-form * {
  border: none;
  border-radius: 0;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.block--email-form form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.block--email-form input[type="email"] {
  background-color: hsla(0, 0%, 0%, .5);
  color: #fff;
  flex-grow: 1;
  height: 6rem;
  padding: 1rem 2rem;
}

.block--email-form input[type="email"]:focus {
  background-color: hsla(0, 0%, 0%, .6);
  outline: none;
}

.block--email-form input[type="submit"] {
  background-color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  cursor: pointer;
  height: 6rem;
  padding: 1rem 2rem;
}
